



<p-toast></p-toast>
<div class="flex card-container overflow-hidden">
    <div class="page-title flex-grow-1  flex align-items-center justify-content-start font-bold m-2 px-5 py-0">
        <i class="pi pi-user-plus" style="color: var(--color-green); font-size: 2.5rem; z-index: 2 !important;"></i>
        <p class="text-2xl md:text-3xl" style="z-index:2;">&nbsp;&nbsp;&nbsp;Crear nueva cuenta</p>
    </div>
    <div class="flex-none flex align-items-center justify-content-center font-bold m-2 px-5 py-3">
        <p-button icon="pi pi-times" styleClass="p-button-rounded p-button-secondary p-button-text" (click)="goBack()"></p-button>
        <!-- <i class="pi pi-times" ></i> -->
    </div>
</div>


<hr style="margin-top: -15px;">




<div class="grid h-24rem">
    <div class="col-12 md:col-6">
        <div class="card p-fluid pr-8 pl-4">
            <h3 style="color: #B1B1B1;">Crea una nueva cuenta</h3>

            <div style="width: 90%;"><label class="field pr-8" htmlfor="listbox">Seleccione el tipo de cuenta:</label>
                <p-dropdown [options]="accountstype" [(ngModel)]="selectedAccount" optionLabel="type"></p-dropdown>
            </div>
            <br><br>

            <div class="field pr-8"><label htmlfor="name1">Nombres:</label><input [(ngModel)]="dataAccount.firstName" pinputtext="" id="name" type="text"
                    class="p-inputtext p-component p-element h-2rem"></div>
            <div class="field pr-8"><label htmlfor="name1">Apellidos:</label><input [(ngModel)]="dataAccount.lastName" pinputtext="" id="lastname"
                    type="text" class="p-inputtext p-component p-element h-2rem"></div>
            <div class="field pr-8"><label htmlfor="name1">Correo electrónico:</label><input [(ngModel)]="dataAccount.email" pinputtext="" id="email"
                    type="email" class="p-inputtext p-component p-element h-2rem"></div>
            <div class="col-6 mt-8" id="save-buttons">
                <p-button (click)="createAccount()" icon="pi pi-save" label="Guardar cambios" styleClass="p-button-success"></p-button>
            </div>
        </div>
    </div>
</div>