<div class="header">
    <i class="pi pi-chart-bar icono-verde"></i>
    <h1 class="titulo">Impuestos</h1>
    <i class="pi pi-question icono-verde" style="position: absolute; right: 0;"></i>
</div>
<p>Tasa de Impuesto</p>
<div class="search-bar">
    <select>
        <!-- Agrega las opciones para tu dropdown aquí -->
        <option value="">Selecciona una tasa de impuesto</option>
    </select>
</div>

<p-table [value]="impuestos" dataKey="id" editMode="row" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
        <tr>
            <th style="width:20%">Fecha de Creacion</th>
            <th style="width:20%">Nombre del impuesto</th>
            <th style="width:20%">Nº</th>
            <th style="width:20%">Tasa actual del impuesto</th>
            <th style="width:20%">Editar</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-impuesto let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="impuesto">
            <td>
                        {{impuesto.fechaCreacion}}
                            </td>
            <td>

                        {{impuesto.nombreImpuesto}} 
            </td>
            <td>
                
                        {{impuesto.numero}}

            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="impuesto.tasaImpuesto">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{impuesto.tasaImpuesto}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <div class="flex align-items-center justify-content-center gap-2">
                    <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(impuesto)" class="p-button-rounded p-button-text"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(impuesto)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(impuesto, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>