@import '~primeicons/primeicons.css';

.contenedor-boton {
    display: flex;
    justify-content: flex-end;
}
.header {
    display: flex;
    align-items: center;
}
.icono-verde {
    color: #008000; /* Reemplaza este código de color por el código de color verde exacto que estás utilizando */
}
.icono-verde {
    margin-left: 5px; /* Ajusta la separación del icono de la barra de gráficos del borde izquierdo */
}

.icono-verde:last-of-type {
    margin-right: 5px; /* Ajusta la separación del icono de interrogación del borde derecho */
}




.boton-derecha {
    float: right;
}

.cabecera-derecha {
    text-align: right;
}

.cabecera-sumas {
   position: absolute;
   right: 42%;
}

.cabecera-saldos {
   position: absolute;
   right: 16%;
}
