.form{
    border-radius: 11px;
    border: 1px solid rgba(187, 187, 187, 0.73);
    background: #FFF;
    box-shadow: 2px 2px 12px -1px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 50px;
}
.form_title{
    font-size: 2.5rem;
    font-weight: 100;
    color: #797979;
}
.form_header{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 15px;
}
.bar{
    width: 100%;
    height: 40px;
    background: #8BD480;
    margin-bottom: 20px;
    border-radius: 11px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.bar_text{
    font-size: 1.4rem;
    font-weight: 600;
    color: #ffffff;
    margin: auto;

}
.logo{
    width: 150px;
    height: 150px;
    margin: 20px;
    border-radius: 50%;
    border-color: #797979;
    border-style: solid;
    border-width: 1px;
}

::ng-deep #save-buttons button{
    background: var(--color-green) !important;
    border-color: var(--color-green) !important;
}
* {
    color: #666666;
    font-size: small;
}

::ng-deep .round-button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: var(--color-green) !important;
    color: #fcfcfc;
    cursor: pointer;
    font-size: 16px;
    margin-top: -40px;
    margin-left: 50px;
    position: relative;
}

.custom-file-upload input[type="file"] {
    display: none;
}

.custom-button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: var(--color-green) !important;
    color: #fcfcfc;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border: none;
    outline: none;
    margin-top: -40px;
    margin-left: 100px;
    position: relative;
}

.custom-button i {
    margin-right: 2px;
    margin-left: 2px;
}

/* Dropdown */
::ng-deep .p-dropdown {
    height: 30px !important;
}

::ng-deep  .p-dropdown span {
    font-size: small;
    padding:0.25rem 0.5rem 0.25rem 0.5rem;
}
