.sidebar {
    width: 30rem; /* Ajusta este valor según el ancho deseado para tu ventana */
    padding: 1rem;
}

.field {
    margin-bottom: 1rem;
}

.boton-descartar {
    margin-right: 1rem;
}
::ng-deep .boton-rojo .p-button {
    background-color: rgb(247, 89, 89) !important;
    border-color: rgb(241, 88, 88) !important;
}