<div class="card">
    <p-table class="edit-table" [value]="transactionDetails" styleClass="p-datatable-gridlines p-datatable-sm"
        dataKey="id" [tableStyle]="{ 'min-width': '50rem' }" (onEditInit)="onEditInit($event)"
        (onEditCancel)="onEditCancel($event)" (onEditComplete)="onEditComplete($event)">
        <ng-template pTemplate="header">
            <tr>
                <th style="width:1%"></th>
                <th style="width:2%">#</th>
                <th style="width:15%">Cuenta</th>
                <th style="width:20%">Debe</th>
                <th style="width:20%">Haber</th>
                <th style="width:25%">Descripción</th>
                <th style="width:15%">Nombre</th>
                <th style="width:5%"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-transaction let-editing="editing" let-index="rowIndex">
            <tr [pReorderableRow]="index">
                <td>
                    <span style="font-size: 0.8rem" class="pi pi-bars" pReorderableRowHandle></span>
                </td>
                <td>{{index+1}}</td>
                <td [pEditableColumn]="transaction.cuenta" pEditableColumnField="cuenta"
                    [pEditableColumnRowIndex]="index">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input class="input-table" type="button" class="mr-2" (click)="selectRow(index)"
                                pInputText type="text" [(ngModel)]="transaction.nombrecuenta" required readonly />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ transaction.nombrecuenta }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td [pEditableColumn]="transaction.debe" pEditableColumnField="debe" [pEditableColumnRowIndex]="index">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input class="input-table" pInputText [(ngModel)]="transaction.debe" type="number" min="0"
                                value="0" (input)="updateDefaultValue(index, transaction.debe, 0)" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ transaction.debe | currency: 'Bs. ' }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td [pEditableColumn]="transaction.haber" pEditableColumnField="haber"
                    [pEditableColumnRowIndex]="index">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input class="input-table" pInputText [(ngModel)]="transaction.haber" type="number" min="0"
                                value="0" (input)="updateDefaultValue(index, transaction.haber,  1)" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ transaction.haber | currency: 'Bs. ' }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td [pEditableColumn]="transaction.descripcion" pEditableColumnField="descripcion"
                    [pEditableColumnRowIndex]="index">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input class="input-table" pInputText type="text" [(ngModel)]="transaction.descripcion" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ transaction.descripcion }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td [pEditableColumn]="transaction.nombre" pEditableColumnField="nombre"
                    [pEditableColumnRowIndex]="index">
                  <p-dropdown id="client-dropdown" appendTo="body" [options]="clients" optionLabel="name" placeholder="Seleccione un cliente" [style]="{'width':'100%'}"></p-dropdown>
                </td>
                <!-- Columna boton con icono de eliminar -->
                <td>
                    <p-button icon="pi pi-trash" styleClass="p-button-rounded p-button-secondary p-button-text"
                        (click)="deleteRow(index)"></p-button>
                    <span icon="pi pi-trash"></span>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <tr>
                <td colspan="3" class="text-right">Total</td>
                <td>{{totalDebitAmount | currency: 'Bs. '}}</td>
                <td>{{totalCreditAmount | currency: 'Bs. '}}</td>
                <td colspan="3"></td>
            </tr>
        </ng-template>
    </p-table>
    <br>
    <div class="flex flex-row flex-wrap">
        <p-button class="cyan-button m-2" label="Agregar línea" icon="pi pi-plus" iconPos="left"
            (click)="addRow()"></p-button>
        <p-button class="blue-button m-2" label="Borrar todo" icon="pi pi-trash" iconPos="left"
            (click)="deleteAllRows()"></p-button>
    </div>
    <p-sidebar [(visible)]="sidebarVisible2" position="right" styleClass="w-5">
      <ng-template pTemplate="header">
        <h1>Selector de cuentas</h1>
      </ng-template>
      <p-treeTable [value]="accounts" [scrollable]="true" [tableStyle]="{'min-width':'50rem'}">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 40%;">Nombre</th>
            <th style="width: 10%;">Código</th>
            <th style="width: 10%;">Nivel</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
          <tr [ttRow]="rowNode">
            <td style="width: 40%;" (click)=onAccountSelected(rowData)>
              <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
              {{ rowData.accountName }}
            </td>
            <td style="width: 10%;">{{ rowData.accountCode }}</td>
            <td style="width: 10%;">
              {{ rowData.level === 1 ? 'Categoría' : (rowData.level === 2 ? 'Grupo' : (rowData.level === 3 ? 'Subgrupo' : (rowData.level === 4 ? 'Cuenta' : 'Subcuenta')))}}
            </td>
          </tr>
        </ng-template>
      </p-treeTable>
    </p-sidebar>
</div>
