.contenedor-boton {
    display: flex;
    justify-content: flex-end;
}
.header {
    display: flex;
    align-items: center;
}
.icono-verde {
    color: #008000; /* Reemplaza este código de color por el código de color verde exacto que estás utilizando */
}
.icono-verde {
    margin-left: 5px; /* Ajusta la separación del icono de la barra de gráficos del borde izquierdo */
}

.icono-verde:last-of-type {
    margin-right: 5px; /* Ajusta la separación del icono de interrogación del borde derecho */
}

.search-bar {
    display: flex;
    align-items: center;
}
/* Aumenta la especificidad utilizando un selector más específico */
:host ::ng-deep .boton-editar .p-button {
    background-color: #808080 !important; /* Cambia el color de fondo del botón Editar a plomo */
    color: white !important; /* Cambia el color del texto del botón Editar a blanco */
}

/* Sidebar configuration */
.home-section {
    position: absolute;
    min-height: 100vh;
    top: 0;
    left: 70px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}

.navbar-opened {
    left: 250px;
    width: calc(100% - 250px);
}


