<div class="header">
    <i class="pi pi-ellipsis-v" style="color: rgb(139, 212, 128); font-size: 35px;"></i>
    <h1 class="titulo">Dashboards</h1>
    <div style="position: absolute; top: 0; right: 0;" class="flex-none flex align-items-center justify-content-center font-bold m-2 px-5 py-3">
        <p-button class="help-icon" icon="pi pi-question-circle" styleClass="p-button-success"></p-button>
    </div>
</div>
<div class="flex justify-between" style="gap: 50px;">
    <div class="card">
        <h2>Gastos</h2>
        <p-dropdown [options]="itemsExpenses" placeholder="Select an Item" (onChange)="onSelectedExpenses($event)" [(ngModel)]="selectedExpense" styleClass="dropdown"></p-dropdown>
        <h3>Total: {{totalGastos}}</h3> 
        <div *ngFor="let item of data.labels; let i = index" class="item">
            {{item}}: {{data.datasets[0].data[i]}}
        </div>
        <div style="width: 200px; height: 200px; margin: auto;">
            <p-chart type="pie" [data]="data" [options]="options"></p-chart>
        </div>
    </div>
    <div class="card">
        <h2>Ventas</h2>
        <p-dropdown [options]="itemsSales" placeholder="Select an Item" (onChange)="onSelectedSales($event)" [(ngModel)]="selectedSale" styleClass="dropdown"></p-dropdown>
        <h3>Total: {{totalVentas}}</h3> 
        <div *ngFor="let item of dataVentas.labels; let i = index" class="item">
            {{item}}: {{dataVentas.datasets[0].data[i]}}
        </div>
        <div style="width: 200px; height: 200px; margin: auto;">
            <p-chart type="pie" [data]="dataVentas" [options]="optionsVentas"></p-chart>
        </div>
    </div>
</div>
<div class="flex justify-between" style="gap: 50px;">
    <div class="card">
        <h2>Gastos Bar Chart</h2>
        <div style="width: 400px; height: 400px; margin: auto;">
            <p-chart type="bar" [data]="barDataGastos"></p-chart>
        </div>
    </div>
    <div>
    </div>
</div>
