
#main-container{
  background-image: url("/assets/bg-05.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
}

#main-container .card{
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 40%;
}

::ng-deep #main-container .card .p-card .p-card-body{
  padding: 0 2.5rem ;
}

#buttons{
  display: flex;
  justify-content: end;
  width: 100%;
}
.card-header{
  font-size: 1.2rem;
  font-weight: bold;
}

::ng-deep #green-button button {
  background: var(--color-green) !important;
  border-color: var(--color-green) !important;
  font-size: small;
}
