<div class="card">
    <p-toast></p-toast>
    <div class="flex card-container overflow-hidden">
        <div class="page-title flex-grow-1  flex align-items-center justify-content-start font-bold m-2 px-5 py-0">
            <i class="pi pi-book" style="color: var(--color-green); font-size: 2.5rem;"></i>
<!--            <p class="text-2xl md:text-3xl">&nbsp;&nbsp;&nbsp;Asiento Diario</p>-->
          <p class="text-2xl md:text-3xl">&nbsp;&nbsp;&nbsp;Comprobante de Diario</p>
        </div>
        <div class="flex-none flex align-items-center justify-content-center font-bold m-2 px-5 py-3">
            <p-button  class="help-icon" icon="pi pi-question-circle" styleClass="p-button-success"></p-button>
        </div>
    </div>
    <div class="flex flex-column card-container mx-8">
        <div class="page-title flex-grow-1  flex align-items-center justify-content-start">
<!--            <p class="text-xl font-semibold my-2">Asiento n.º{{journalEntryNumber}}</p>-->
          <p class="text-xl font-semibold my-2">Comprobante n.º{{journalEntryNumber}}</p>
        </div>
        <div class="flex flex-row flex-wrap">
            <div class="flex flex-column justify-content-start mr-2">
                <p>Tipo de documento</p>
                <p-dropdown id="document-type" [options]="documentTypes" [(ngModel)]="selectedDocumentType" optionLabel="name" placeholder="Seleccione un tipo de documento" [style]="{'width':'250px'}"></p-dropdown>
            </div>
            <div class="flex flex-column justify-content-start mx-2">
<!--                <p>Fecha del diario</p>-->
              <p>Fecha del comprobante</p>
              <p-calendar class="datepicker" [(ngModel)]="dateValue" [showIcon]="true" inputId="icon" dateFormat="dd/mm/yy"></p-calendar>
            </div>
        </div>


    </div>
</div>
<div class="col-12 xl:col-12 px-8 py-3">
    <app-transaction-table (transactionDetailsEmmited)="retrieveTransactionDetails($event)" (glossAndTotalEmmited)="retrieveGlossAndTotal($event)"></app-transaction-table>
    <!-- Buttons - save, save and register a new journay entry -->
    <div class="flex justify-content-between flex-wrap" id="save-je-buttons">
        <div class="flex justify-content-between flex-wrap card-container purple-container mx-3">
            <p-button label="Cancelar" class="red-button m-2 ml-5" (click)="goBack()" [style]="{'font-size': 'medium','height':'100%'}"></p-button>
            <p-button label="Borrar" class="cyan-button m-2" [style]="{'font-size': 'medium','height':'100%'}"></p-button>
        </div>
        <div class="flex">
            <div class="flex"><p-button label="Guardar" (click)="save(); selectedSaveAndNew = false" class="m-2 mr-5"></p-button></div>
            <div class="flex"><p-button label="Guardar y registrar nuevo" (click)="saveAndNew()" class="m-2 mr-5"></p-button></div>
        </div>

    </div>
    <br>
    <hr>
    <div class="flex flex-column">
        <div class="col-6">
            <p class="text-xl font-semibold">Notas</p>
            <textarea rows="5" cols="50" pInputTextarea [(ngModel)]="description"></textarea>
        </div>
        <div class="col-6 p-0">
            <p class="text-xl font-semibold">Archivos adjuntos</p>
            <div class="col-10"><app-attachments-section (attachmentsEmmited)="retrieveAttachments($event)"></app-attachments-section></div>
        </div>
    </div>
    <div style="height: 100px;"></div>
</div>
