<app-sidebar (navbarToggle)="onNavbarToggle($event)" ></app-sidebar>
<div class="home-section" [class.navbar-opened]="isNavbarOpen">
<p-toast></p-toast>
<div class="flex card-container overflow-hidden">
    <div class="page-title flex-grow-1  flex align-items-center justify-content-start font-bold m-2 px-5 py-0">
        <i class="pi pi-book" style="color: var(--color-green); font-size: 2.5rem; z-index: 2 !important;"></i>
        <p class="text-2xl md:text-3xl" style="z-index:2;">&nbsp;&nbsp;&nbsp;Lista de transacciones</p>
    </div>
    <div class="flex-none flex align-items-center justify-content-center font-bold m-2 px-5 py-3">
        <app-navbar></app-navbar>
    </div>
</div>

<div class="col-12 xl:col-12 px-8 py-3">
    <p-table #dt1 [value]="listTempDto" [tableStyle]="{'min-width': '60rem'}"
        [globalFilterFields]="['client', 'Estado', 'status', 'status', 'documentType']" dataKey="id" [rows]="10"
        [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">

        <ng-template pTemplate="caption">
            <div class="flex">
                <span class="p-input-icon-left ml-auto">
                    <span class="p-input-icon-left ml-auto"><i class="pi pi-search"></i><input pinputtext="" type="text" (input)="dt1.filterGlobal(getEventValue($event), 'contains')"
                        placeholder="Buscar..." class="p-inputtext p-component p-element"></span>
                </span>
            </div>
        </ng-template>
        
        <ng-template pTemplate="header">
            <tr>

                <th>Cliente/Proveedor</th>
                <th>Estado</th>
                <th>Tipo de Documento</th>
                <th>Importe Total</th>
                <th>Fecha de Creacion</th>
                <th>Nota</th>
                <th>Acciones</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-listTempDto>
            <tr>
                <td>{{listTempDto.client}}</td>
                <td><p-tag [value]="listTempDto.status" [severity]="getSeverity(listTempDto.status)"></p-tag></td>
                <td>{{listTempDto.documentType}}</td>
                <td>{{listTempDto.totalimport | currency:'Bs. '}}</td>
                <td>{{listTempDto.date}}</td>
                <td>{{listTempDto.note}}</td>
                <td id="but-hover">
                    <button type="button" class="p-button-rounded" id="button-custom-rounded">
                        <i class="pi pi-eye"></i>
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>

</div>
</div>