*{
    color: #666666;
    font-size: small;
}
::ng-deep #save-buttons button{
    background: var(--color-green) !important;
    border-color: var(--color-green) !important;
}

#button-custom-rounded{
    border-radius: 50% !important;
    width: 30px;
    height: 30px;
    border: 1px solid #D9D9D9 !important;
    background: #D9D9D9;
    font-size: 14px !important;
    font-weight: 600 !important;
    padding: 5px 10px !important;
    margin: 0px 5px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

#but-hover :hover{
    background: var(--color-green) !important;
    border-color: var(--color-green) !important;
    color: #fff !important;
    cursor: pointer;
}




/* Sidebar configuration */
.home-section {
    position: absolute;
    min-height: 100vh;
    top: 0;
    left: 70px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}

.navbar-opened {
    left: 250px;
    width: calc(100% - 250px);
}

/* Paginator */
::ng-deep #paginator .p-dropdown-label{
  width: 100%;
  font-size: small;
  padding: 0.5rem;
}
