<div class="card-container">
    <div class="inline-block font-bold text-center p-4">
        <span class="pi pi-user" style="font-size: 2rem; color: #8BD480;"></span>
    </div>
    <div class="inline-block font-bold text-center p-2" style="color: #797979;">
        <h2>Perfil de usuario</h2>
    </div>

</div>
<hr style="margin-top: -15px;">
<div class="grid h-24rem">
    <div class="col-12 md:col-6">
        <div class="card p-fluid pr-8 pl-4">
            <h3 style="color: #B1B1B1;">Actualizar Contraseña</h3>

            <div class="field pr-8"><label htmlfor="name1">Contraseña Actual:</label><p-password [(ngModel)]="passwordData.currentPassword" id="currentPassword" [feedback]="false"
                    id="currentPassword" [toggleMask]="true" class="w-full"></p-password></div>
            <div class="field pr-8"><label htmlfor="name1">Contraseña Nueva:</label><p-password [(ngModel)]="passwordData.newPassword" id="newPassword"
                    id="currentPassword" [toggleMask]="true" class="w-full"></p-password></div>
            <div class="field pr-8"><label htmlfor="name1">Confirmar Contraseña:</label><input [(ngModel)]="passwordData.confirmNewPassword" pinputtext="" id="confirmPassword" type="text"
                    class="p-inputtext p-component p-element h-2rem"></div>

            <div class="col-6 mt-8" id="save-buttons">
                <p-button (click)="updatePassword()" icon="pi pi-save" label="Cambiar Contraseña" styleClass="p-button-success"></p-button>
            </div>
            

        </div>

    </div>
    <div class="col-12 md:col-6">

    </div>

</div>
