<!-- <div class="card-container">
    <div class="inline-block font-bold text-center p-4">
        <span class="pi pi-user" style="font-size: 2rem; color: #8BD480;"></span>
    </div>
    <div class="inline-block font-bold text-center p-2" style="color: #797979;">
        <h2>Perfil de usuario</h2>
    </div>

</div>
<hr style="margin-top: -15px;"> -->
<p-toast></p-toast>

        <div class="card p-fluid pr-4 pl-4">

            <div class="field"><label htmlfor="name1">Contraseña Actual:</label><p-password [(ngModel)]="passwordData.currentPassword" id="currentPassword" [feedback]="false"
                    id="currentPassword" [toggleMask]="true" class="w-full"></p-password></div>
            <div class="field"><label htmlfor="name1">Contraseña Nueva:</label><p-password [(ngModel)]="passwordData.newPassword" id="newPassword"
                    id="currentPassword" [toggleMask]="true" class="w-full"></p-password></div>
            <div class="field"><label htmlfor="name1">Confirmar Contraseña:</label><p-password [(ngModel)]="passwordData.confirmNewPassword" id="newPassword"
                id="currentPassword" [toggleMask]="true" class="w-full" [feedback]="false"></p-password></div>

            <div class="flex justify-content-end mt-3" id="save-buttons">
                <p-button (click)="updatePassword()" icon="pi pi-save" label="Cambiar Contraseña" styleClass="p-button-success"></p-button>
            </div>


        </div>


