<p-toolbar>
    <div class="p-toolbar-group-start" >
    </div>
    <div class="p-toolbar-group-end">
        <!-- <div class="card flex justify-content-center">
            <p-toast></p-toast>
            <p-menu #menu [model]="items" [popup]="true" ></p-menu>
            <p-button  icon="pi pi-cog"  styleClass="mr-3" class="toolbar-button"  (click)="menu.toggle($event)"></p-button>
        </div> -->
        <!-- <button pButton type="button" (click)="menu.toggle($event)" icon="pi pi-bars" label="Show"></button> -->
        
        <p-button icon="pi pi-question-circle" styleClass="mr-3" class="toolbar-button" routerLink="/support"></p-button>
        <p-avatar class="pfp" image="{{pfpUrl}}" styleClass="mr-2" size="large" shape="circle" routerLink="/profile" (click)="updateSidebarState()"></p-avatar>
    </div>
</p-toolbar>