*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 75px;
  background: #F3F6F6;
  /* border-right: #c0c0c0 1px solid; */
  /* Sombra */
  /* box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2); */
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
#logo-img{
  display: none;
}

.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #797979;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  /* background: #1d1b31; */
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}

.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  /* background: #11101D; */
}
.sidebar li a:hover{
  background: var(--color-green);
}
.sidebar li a .links_name{
  color: #666666;
  font-size: 15px;
  font-weight: 600;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #fff;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: 0px;
  padding: 10px 14px;
  /* background: #1d1b31; */
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.sidebar li.profile .logout-tag{
  font-size: 15px;
  font-weight: 400;
  color: #666666;
  white-space: nowrap;
  display: none;
}

.sidebar .profile #log_out{
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}

/* .home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
} */
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}

/* Icono, derecha */
.right-arrow{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.2s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  display: none;
}

/* Mostrar cuando el sidebar esté abierto */
.sidebar.open .right-arrow{
  display: block;
}

.sidebar.open .logout-tag{
  display: block !important;
}

.sidebar.open #logo-img{
  display: block;
}


.name_job{
  display: flex;
  align-items: center;
}

/* Para los íconos locales */
.local-icon{
  margin-top: 28%;
}
.sidebar li a:hover i .local-icon{
  transition: all 0.5s ease;
  filter: brightness(0) invert(1);
}

ul{
  list-style: none;
}
/*Submenus*/
.sidebar .nav-list li .sub-menu{
  padding: 6px 20px 14px 40px;
  margin-top: -10px;
  background: #F3F6F6;
  border-radius: 10px;
  display: none;
}
.sidebar .nav-list li.showMenu .sub-menu{
  display: block;
}
.sidebar .nav-list li .sub-menu a{
  color: #666666;
  font-size: 15px;
  padding: 5px 10px;
  white-space: nowrap;
  /* opacity: 0.6; */
  transition: all 0.3s ease;
}
.sidebar .nav-list li .sub-menu a:hover{
  opacity: 1;
}
/* .sidebar.close .nav-list li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
} */
.sidebar.close .nav-list li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-list li .sub-menu .links_name{
  display: none;
}
.sidebar.close .nav-list li .sub-menu .links_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-list li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar.open .nav-list li:hover .sub-menu{
  position: absolute;
  display: inherit;
  /* top: 50%; */
  transform: translateY(-40%);
  left: 220px;
  z-index: -1;
}

/* .sub-menu li:hover{
  background: var(--color-green);
  border-radius: 0;
} */
.sub-menu li:hover a{
  background: var(--color-green) !important;
  border-radius: 5px;
  color: #fff !important;
}

.sub-menu li a{
  width: 100%;
  padding: 15px;
}