/* Toolbar */
::ng-deep .p-toolbar {
  background-color: #fff;
  border: 0;
}

/* Botones */
::ng-deep .toolbar-button button{
    background: var(--color-green) !important;
    border-color: var(--color-green) !important;
}

.pfp{
    cursor: pointer;
}