/* Toolbar */
::ng-deep .p-toolbar {
  background-color: #fff;
  border: 0;
}

/* Botones */
::ng-deep .toolbar-button button{
    background: var(--color-green) !important;
    border-color: var(--color-green) !important;
}

.pfp{
    cursor: pointer;
}

::ng-deep .p-menu-overlay{
    width: 320px !important;
    padding: 20px !important;
    background-color: #F3F6F6 !important;
    transform: translateX(-27%) !important;
}
