<div class="card">
    <p-table class="edit-table" [value]="transactionDetails" styleClass="p-datatable-gridlines p-datatable-sm"
        dataKey="id" [tableStyle]="{ 'min-width': '50rem' }" [reorderableColumns]="false" [resizableColumns]="false">
        <ng-template pTemplate="header">
            <tr>
                <th style="width:1%"></th>
                <th style="width:2%">#</th>
                <th style="width:15%">Cuenta</th>
                <th style="width:20%">Debe</th>
                <th style="width:20%">Haber</th>
                <th style="width:25%">Descripción</th>
                <th style="width:15%">Nombre</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-transaction let-editing="editing" let-index="rowIndex">
            <tr [pReorderableRow]="index">
                <td>
                    <span style="font-size: 0.8rem" class="pi pi-bars" pReorderableRowHandle></span>
                </td>
                <td>{{index+1}}</td>
                <td [pEditableColumn]="transaction.cuenta" pEditableColumnField="cuenta"
                    [pEditableColumnRowIndex]="index">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input class="input-table" type="button" class="mr-2" pInputText type="text" [(ngModel)]="transaction.cuenta" required />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ transaction.cuenta }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td [pEditableColumn]="transaction.debe" pEditableColumnField="debe" [pEditableColumnRowIndex]="index">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input class="input-table" pInputText [(ngModel)]="transaction.debe" type="number" min="0" value="0" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ transaction.debe | currency: 'Bs. ' }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td [pEditableColumn]="transaction.haber" pEditableColumnField="haber"
                    [pEditableColumnRowIndex]="index">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input class="input-table" pInputText [(ngModel)]="transaction.haber" type="number" min="0" value="0"/>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ transaction.haber | currency: 'Bs. ' }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td [pEditableColumn]="transaction.descripcion" pEditableColumnField="descripcion"
                    [pEditableColumnRowIndex]="index">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input class="input-table" pInputText type="text" [(ngModel)]="transaction.descripcion" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ transaction.descripcion }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td [pEditableColumn]="transaction.nombre" pEditableColumnField="nombre"
                    [pEditableColumnRowIndex]="index">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input class="input-table" pInputText type="text" [(ngModel)]="transaction.nombre" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ transaction.nombre }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <!-- Columna boton con icono de eliminar -->
<!--                <td>-->
<!--                    <p-button icon="pi pi-trash" styleClass="p-button-rounded p-button-secondary p-button-text"-->
<!--                              (click)="deleteRow(index)"></p-button>-->
<!--                    <span icon="pi pi-trash"></span>-->
<!--                </td>-->
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <tr>
                <td colspan="3" class="text-right">Total</td>
                <td>{{totalDebitAmount | currency: 'Bs. '}}</td>
                <td>{{totalCreditAmount | currency: 'Bs. '}}</td>
                <td colspan="3"></td>
            </tr>
        </ng-template>
    </p-table>
    <br>
</div>
