* {
  color: #666666;
  font-size: small;
}


/* Sidebar configuration */
.home-section {
  position: absolute;
  min-height: 100vh;
  top: 0;
  left: 70px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}

.navbar-opened {
  left: 250px;
  width: calc(100% - 250px);
}

#account-name{
  font-size: 20px;
  font-weight: 500;
  color: #666666;
}

.pass-icon{
  color: #29ABAC;
  cursor: pointer;
  /* Transiciom */
  transition: color 0.5s ease;
}

.pass-icon:hover{
  color: #22d4d4;
}
