<div class="row">
    <div class="p-col-4">
        <p-fieldset legend="ProfitWave">
            <p class="m-0">
                ProfitWave se destaca por su interfaz intuitiva y amigable, diseñada pensando en aquellos que están aprendiendo sobre contabilidad y finanzas. Proporciona herramientas y recursos educativos integrados que permiten a los usuarios aprender y comprender los fundamentos contables, convirtiéndolo en un valioso recurso para aquellos que buscan fortalecer sus habilidades financieras. Con ProfitWave, los negocios pueden realizar un seguimiento preciso de sus transacciones, generar informes financieros detallados, administrar el flujo de efectivo y cumplir con los requisitos fiscales locales de manera eficiente. Ya sea para llevar un registro minucioso de los ingresos y gastos, gestionar facturas y pagos, o evaluar el rendimiento financiero de la empresa, ProfitWave ofrece una solución completa y adaptable que se ajusta a las necesidades contables específicas de Bolivia, impulsando así la eficiencia y el éxito empresarial.</p>
        </p-fieldset>
    </div>
    <p-divider></p-divider>
    <div class="p-col-4">
        <p-fieldset legend="Sobre nosotros">
            <p class="m-0">
                El software ProfitWave ha sido desarrollado por un grupo altamente comprometido de estudiantes de la carrera de Ingeniería de Sistemas de la Universidad Católica Boliviana "San Pablo", sede La Paz. Este talentoso equipo, dedicado y apasionado por la innovación tecnológica, se encuentra actualmente inmerso en el proceso educativo del taller de Sistemas de Información, donde han adquirido habilidades y conocimientos fundamentales para la creación de soluciones informáticas eficientes y efectivas.
            </p>
        </p-fieldset>
    </div>
</div>
