<app-sidebar (navbarToggle)="onNavbarToggle($event)"></app-sidebar>
<p-toast></p-toast>
<div class="home-section" [class.navbar-opened]="isNavbarOpen">
    <div class="card">
        <p-toast></p-toast>
        <div class="flex card-container overflow-hidden">
            <div class="page-title flex-grow-1  flex align-items-center justify-content-start font-bold m-2 px-5 py-0">
                <i class="pi pi-map-marker"
                    style="color: var(--color-green); font-size: 2.5rem; z-index: 2 !important;"></i>
                <p class="text-2xl md:text-3xl" style="z-index:2;">&nbsp;&nbsp;&nbsp;Balance de apertura</p>
            </div>
            <div class="flex-none flex align-items-center justify-content-center font-bold m-2 px-5 py-3">
                <app-navbar></app-navbar>
            </div>
        </div>
    </div>
    <div class="col-12 xl:col-12 px-8 pb-3">
        <div class="flex justify-content-between">
            <div class="flex flex-row flex-wrap mb-3">
                <div class="flex flex-column justify-content-start mr-2">
                    <p>Fecha de apertura</p>
                    <p-calendar class="datepicker" [(ngModel)]="startDate" [showButtonBar]="true" [showIcon]="true"
                        dateFormat="dd/mm/yy" inputId="icon" placeholder="Seleccione una fecha"
                        [readonlyInput]="true"></p-calendar>
                </div>
            </div>
            <div class="flex flex-column justify-content-end flex-wrap mb-3">
                <div class="flex justify-content-between  card-container ">
                    <p-button label="Generar Reporte" class="green-button" (onClick)="generateReport()"
                        id="generate-button" icon="pi pi-sync" iconPos="right"></p-button>
                    <span class="ml-2"></span>
                    <p-button label="Exportar" class="green-button" id="export-button" icon="pi pi-file-export"
                        iconPos="right" (onClick)="exportPdf()" [disabled]="!incomeStatements"></p-button>
                </div>
            </div>
        </div>
        <br>
        <div class="flex flex-row justify-content-between">
            <div style="width: 70%;">
        <p>ACTIVO</p>
        <p-table [value]="activos" [tableStyle]="{ 'min-width': '70%' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Código de la cuenta</th>
                    <th>Nombre</th>
                    <th>Total</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{ activos.code }}</td>
                    <td>{{ activos.name }}</td>
                    <td>{{ activos.category }}</td>
                </tr>
            </ng-template>
        </p-table>

        <p>PASIVO</p>
        <p-table [value]="pasivos" [tableStyle]="{ 'min-width': '70%' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Código de la cuenta</th>
                    <th>Nombre</th>
                    <th>Total</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{ pasivos.code }}</td>
                    <td>{{ pasivos.name }}</td>
                    <td>{{ pasivos.category }}</td>
                </tr>
            </ng-template>
        </p-table>

        <p>PATRIMONIO</p>
        <p-table [value]="patrimonio" [tableStyle]="{ 'min-width': '70%' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Código de la cuenta</th>
                    <th>Nombre</th>
                    <th>Total</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{ patrimonio.code }}</td>
                    <td>{{ patrimonio.name }}</td>
                    <td>{{ patrimonio.category }}</td>
                </tr>
            </ng-template>
        </p-table>
        </div>
        <div id="results-container">
            <div class="flex flex-row justify-content-between align-items-center">
                <p id="title-results">Resultados</p>
                <i id="icon-results" class="pi pi-info-circle"></i>
            </div>
            <ul>
                <li>Total activos: </li>
                <li>Total pasivos: </li>
                <li>Total patrimonio: </li>
                <li>Total pasivos y patrimonio: </li>
            </ul>

        </div>
    </div>
        <!-- <div class="flex justify-content-center p-4">
            <p style="font-size: medium;">{{message}}</p>
        </div> -->
    </div>
</div>
