<p-toast></p-toast>
<div class="flex card-container overflow-hidden">
    <div class="page-title flex-grow-1  flex align-items-center justify-content-start font-bold m-2 px-5 py-0">
        <i class="pi pi-user" style="color: var(--color-green); font-size: 2.5rem; z-index: 2 !important;"></i>
        <p class="text-2xl md:text-3xl" style="z-index:2;">&nbsp;&nbsp;&nbsp;Perfil de usuario</p>
    </div>
    <div class="flex-none flex align-items-center justify-content-center font-bold m-2 px-5 py-3">
        <!-- <p-button class="help-icon" icon="pi pi-question-circle" styleClass="p-button-success"></p-button> -->
        <!-- <app-navbar></app-navbar> -->
    </div>
</div>

<hr>
<div id="main-container">
    <div class="mx-8 my-5 tarjeta-info">
        <div class="w-11rem h-11rem">
            <img width="150px" height="150px" class="shadow-4" [src]="userData?.profilePicture"
                style="border-radius:100%;" alt="Profile picture">
            <div class="custom-file-upload">
                <input type="file" id="fileInput" (change)="onFileSelected2($event)" accept="image/*" />
                <label for="fileInput">
                    <span class="custom-button">
                        <i class="pi pi-pencil"></i>
                    </span>
                </label>
            </div>
        </div>


        <div class="grid h-24rem">
            <div class="col-12 md:col-6">
                <div class="card p-fluid">
                    <h3 style="color: #797979; font-size: medium;">Actualiza tu información personal</h3>
                    <div class="field pr-8"><label htmlfor="name1">Nombre:</label><input
                            [(ngModel)]="userData.firstName" pinputtext="" id="name" type="text"
                            class="p-inputtext p-component p-element h-2rem"></div>
                    <div class="field pr-8"><label htmlfor="name1">Apellido:</label><input
                            [(ngModel)]="userData.lastName" pinputtext="" id="lastName" type="text"
                            class="p-inputtext p-component p-element h-2rem"></div>
                    <div class="field pr-8"><label htmlfor="name1">Correo Electrónico:</label><input
                            [(ngModel)]="userData.email" pinputtext="" id="email" type="email"
                            class="p-inputtext p-component p-element h-2rem"></div>
                    <div class="card-container">
                        <div class="inline-block font-bold text-center" style="color: #29ABAC;">
                            <i class="p-button-icon p-button-icon-left pi pi-lock" style="color: #29ABAC;"
                                aria-hidden="true"></i>
                            <a class="p-button-label ml-2 mt-2" style="color: #29ABAC; cursor: pointer;" (click)="confirm1()" >Cambiar contraseña</a>
                            <span class="p-ink"></span>
                        </div>
                    </div>
                    <div class="col-6 mt-3" id="save-buttons">
                        <p-button (click)="saveUserData()" icon="pi pi-save" label="Guardar cambios"
                            styleClass="p-button-success"></p-button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="card flex justify-content-center gap-2">
    <p-toast></p-toast>
</div>

<div class="card flex justify-content-center">
    <p-toast></p-toast>
    <p-confirmDialog #cd [style]="{ width: '50vw' }">
        <ng-template pTemplate="header">
            <h3>Cambia tu contraseña</h3>
        </ng-template>
        <ng-template pTemplate="icon">
            <i class="pi pi-lock"></i>
        </ng-template>
        <ng-template pTemplate="message">
            <p>Message Template</p>
        </ng-template>
        <ng-template pTemplate="footer">
            <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
            <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
        </ng-template>
    </p-confirmDialog>
</div>