<form [formGroup]="nuevaCuentaForm" (ngSubmit)="onSubmit()">
    <div class="field">
        <label for="nivel">Nivel de la cuenta</label>
        <p><i class="pi pi-lock"></i> Grupo {{ nuevaCuentaForm.get('nivel')?.value }}</p>
    </div>
    <div class="field">
        <label for="codigo">Código de la cuenta</label>
        <p><i class="pi pi-lock"></i> 1101 {{ nuevaCuentaForm.get('codigo')?.value }}</p>
    </div>
    <div class="field">
        <label for="nombre">Nombre de cuenta</label>
        <input pInputText type="text" id="nombre" formControlName="nombre">
    </div>
    <p-button type="button" label="Descartar" class="boton-descartar boton-rojo" (click)="descartar()"></p-button>
    <p-button type="submit" label="Guardar" class="ui-button-success"></p-button>
</form>